/* -------------------------BANNER ACERCA----------------------------------- */

.acerca__banner{
    background-color: $clr-accent-celeste;
}

/* -------------------------- ACERCA DERECHA-------------------------------------- */

.acerca__container__d{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;

    .fotosAcerca{
        width: 600px;
        height: 400px;
        padding: 2em 2em;
        margin: 2em 2em;
        border-radius: 3em;
    }

    .acerca__text__d{
        text-align: right;
        margin: 2em;
      }
    
      .acerca__titulo__d{
        font-size: 2.5rem;
        color:black;
        text-align: right;
        margin: 0.7em;
      }

      .titulo__rosa{
        color:#fab1a0;
   }
      
    .btn__acerca{
        display: flex;
        justify-content: center;
        border: solid 2px black ;
        background-color: transparent;
        color: black;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 2em 2em;
        text-decoration: none;
        margin: 2em;
        transition: 1.5s;
    }

    .btn__acerca:hover{
        color: white;
        background-color: black;
        
    }
  }


/* ---------------------------------------------ACERCA IZQUIERDA----------------------------------------- */
  .acerca__container__i{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;

    .acerca__titulo__i{
        font-size: 2.5rem;
        color:black;
        text-align: left;
        margin: 0.7em;
      }

      .titulo__azul{
        color:#a29bfe;
    }

      .acerca__text__i{
        text-align: left;
        margin: 2em;
      }

      .fotosAcerca{
        width: 600px;
        height: 400px;
        padding: 2em 2em;
        margin: 2em 2em;
        border-radius: 3em;
    }
  }