/* ----------------------------RESET-------------------------------------------------------------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
	text-decoration: none;
	color: inherit;
	list-style: none;
 }

 *{
     font-family:'Poppins', sans-serif;
 }


/* FONDO Y TIPOGRAFIA*/
$clr-bg-black: #000;
$clr-bg-dark: #333;
$clr-bg-light: #f3f3f3;
$clr-bg-white: #fafafa;

/* COLORES */
$clr-accent-rosa: #fab1a0;
$clr-accent-celeste: #dfe6e9;

/* ----------------------------BODY-------------------------------------------------------------- */

body{
    background-color:#f8f9fa;

    h1{
        padding:1em;
    }

    h2 {text-align: center;
    }
    
    h3{ text-align: center;
        padding-bottom: 2em;
        padding-top: 1em;
        
    }
    
    .btn__arriba{
        background-color:#dfe6e9 ;
        text-align: center;
        font-size: 1.7em;
        color: grey;
    }

    .btn__arriba__blanco{
        background-color:#f8f9fa ;
        text-align: center;
        font-size: 1.7em;
        color: grey;
    }

    .btn__arriba__rosa{
        background-color:#fab1a0 ;
        text-align: center;
        font-size: 1.7em;
        color: grey;
    }

    .titulos__negro__main{
        font-size: 4rem;
        letter-spacing: 5px;
    }

    .titulos__negro{
    font-size: 2.5rem;
    margin: 1em;
    
    }

    .titulos__blanco__main{
        font-size: 4rem;
        letter-spacing: 5px;
        color: white;
    }

    .titulos__blanco{
    font-size: 2.5rem;
    color: white;
    }

/* ---------------------------------------ICON REDES------------------------------------------ */

.icon__redes{
    display: flex;
    flex-flow: row;
    gap: 2em;
    margin-bottom:2em;
    margin-top: 1em;;

    .twi__logo{
        font-size: 2.4em;
        color: lightgrey;
        transition: 0.4s;
    }
    
    .twi__logo:hover{
        color: #1DA1F2;
        
    }
    
    .fa-instagram{
        font-size: 2.5em;
        color: lightgrey;
        transition: 0.4s;
    }
    
    .inst__logo:hover{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
    }
    
    .face__logo{
        font-size: 2.3em;
        color: lightgrey;
        transition: 0.4s;
    }
    
    .face__logo:hover{
        color: #3B5998;
    }
    
}
}
