

/* -------------------------------ERROR 404------------------------------ */
.contenedor__404{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.error__img{
    margin-left: 5em;
    margin-right: 5em;
    height:400px; 
    width:400px;
}

.contenedor__error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    

    .titulo__error{
        font-size: 3rem;
        
    }
    
    .text__error{
        text-align: center;
        margin:2em;
    }
    
    .links__error__lista{
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
    }
    
    .links__error__lista li{
        margin: 1em;
    }
    
    .links__error__lista a{
        text-decoration:none;
        color: black;
        margin: auto;
        padding: 0.7em;
        border-radius: 2em 2em;
        transition: 0.5s;
    }
    
    .links__error__lista a:hover{
        background-color:#fab1a0;
        color: white;
        transform: scale(1.1);
        border-radius: 2em 2em;
        
    }
}
