/* ---------------------------------------FOOTER--------------------------------------------------- */

footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: $clr-bg-dark;
    color: $clr-bg-white;
    font-weight: 400;
    
    .footer__logo{
        width: 250px; height: 250px;
    }
}