
/* -----------------BANNER INDEX ARRIBA------------------------------- */

.banner{
    background-color: #fab1a0;

    .banner__titulo{
        color: white;
        text-align: center;
        font-size: 2rem;
        opacity: 80%;
        
    }
    
    .banner__sale{
        color: white;
        text-align: center;
        font-size: 4rem;
        letter-spacing: 7px;
    }
    
    .banner__num{
        color: white;
        text-align: center;
        font-size: 3em;
        word-spacing: 10px;
        letter-spacing: 7px;
    
    }
    
    .banner__off{
        color: black;
        font-size: 3.5rem ;
    }
    
    .banner__text{
        color: white;
        text-align: center;
        padding-bottom: 1em;
        padding-right: 2em;
        padding-left: 2em;
    }
    
    
    .banner__link{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .banner__boys{
            border: solid 2px white ;
            background-color: transparent;
            color: white;
            font-weight: 600;
            padding: 10px 30px;
            border-radius: 2em 2em;
            text-decoration: none;
            margin: 2em;
            transition: 0.8s;
        }
        
        .banner__boys:hover{
            color: black;
            background-color:white;
            border:white;
        }
        
        .banner__girls{
            border: solid 2px black ;
            background-color: transparent;
            color: black;
            font-weight: 600;
            padding: 10px 30px;
            border-radius: 2em 2em;
            text-decoration: none;
            margin: 2em;
            transition: 0.8s;
        }
        
        .banner__girls:hover{
            color: white;
            background-color: black;
        }
    }
    
    
    .banner__fondo{
        display: block;
    }
    
    .banner__img{
        width: 30em;
        height: 28em;
        position: absolute;
        left:60%;
        top: 90%;
    }
}



/* --------------------------------------ESTILO INDEX ------------------------------------------------ */

  .index__imgbox{
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
    
    .index__back__img{
        width: 33em;
        height: 30em;
        position: absolute;
        transition: 1s;
      }
      .index__main__img{
        width: 33em;
        height: 30em;
        position: relative;
      }
  }
  
  .index__imgbox:hover .index__back__img {
    transform: translateY(-10%);
  }

  .index__body{
    background-color:#f8f9fa;
    
}

/* ----------------------------------------CHICOS-------------------------------------------------------- */
  .index__text__i{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;
    max-width: 425px;
    
    
    
    p{
        text-align: left;
        
    }

    .titulo__izq{
        font-size: 2.5rem;
        color:black;
        margin-bottom: 1em;
        text-align: left;
    }

    .titulo__azul{
        color:#a29bfe;
    }

    
.btn__azul{
    border: solid 2px #a29bfe ;
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 2em 2em;
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5em;
    transition: 0.4s;
}


.btn__azul:hover{
    transform-origin:bottom;
    color: white;
    background-color:#a29bfe ;
}
  }

/* ----------------------------------------CHICAS-------------------------------------------------------- */
 

.index__text__d{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: center;
    margin-right: 1em;
    max-width: 425px;
    

    p{
        text-align: right;
    }

    .titulo__der{
        font-size: 2.5rem;
        color:black;
        margin-bottom: 1em;
        text-align: right;
    }

    .titulo__rosa{
        color:#fab1a0;
   }

   
.btn__rosa{
    border: solid 2px #fab1a0 ;
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 2em 2em;
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5em;
    text-align: right;
    transition: 0.4s;
}

.btn__rosa:hover{
    transform-origin:bottom;
    color: white;
    background-color:#fab1a0 ;
}
   
  }



