
/* ------------------------------BANNER CHICAS---------------------------------------------- */

.main__girls{
    background-color: #fab1a0;

    .banner__chicas__titulo{
        background-color:$clr-accent-rosa;
    }

    .banner__chicas{
        background-color:#fab1a0 ;
    }

}

/* ------------------------------PORODUCTOS CHICAS------------------------------------------------ */

.grid__productos__chicas{
    background-color:$clr-accent-rosa;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19em,1fr));
    grid-column-gap: 1.5em;

    .prod__card{
        background-color: white;
        border-radius: 1em;
        padding: 1em;
        margin-top: 3em;
        box-shadow: 0px 5px 5px lightgrey;
        text-align: center;
        overflow: hidden;
    }

    .prod__titulo{
        font-size: large;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .prod__img img{
        max-width: 100%;
        height: 27em;
        border-radius: 1em;
        transition: 0.5s ease-in-out;
        transform-origin:bottom;
    }

    .prod__img img:hover{
        transform: scale(1.20);
    }

    .prod__text{
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
       
    }

    .prod__btn__chicas{
        border: solid 2px #fab1a0;
        background-color: transparent;
        padding: 0.7em;
        border-radius: 2em 2em;
        font-weight: 600;
        transition: 0.5s;
    }
    
    .prod__btn__chicas:hover{
        background-color: #fab1a0;
        color: white;
        font-weight: bolder;
        transform-origin:bottom;
    }
}

/* ------------------------------BANNNER CHICOS---------------------------------------------- */

.main__boys{
    background-color: $clr-accent-celeste;

    .banner__chicos__titulo{
        background-color:$clr-accent-celeste;
    }

    .banner__chicos{
        background-color:#f8f9fa ;
    }
 }


/* ------------------------------PRODUCTOS CHICOS------------------------------------------------- */

.grid__productos{
    background-color:$clr-accent-celeste;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19em,1fr));
    grid-column-gap: 1.5em;

    .prod__card{
        background-color: white;
        border-radius: 1em;
        padding: 1em;
        margin-top: 3em;
        box-shadow: 0px 5px 5px lightgrey;
        text-align: center;
        overflow: hidden;
    }

    .prod__titulo{
        font-size: large;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .prod__img img{
        max-width: 100%;
        height: 27em;
        border-radius: 1em;
        transition: 0.5s ease-in-out;
        transform-origin:bottom;
    }

    .prod__img img:hover{
        transform: scale(1.20);
    }

    .prod__text{
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
       
    }

    .prod__btn__chicos{
        border: solid 2px #a29bfe ;
        background-color: transparent;
        padding: 0.7em;
        border-radius: 2em 2em;
        font-weight: 600;
        transition: 0.5s;
    }
    
    .prod__btn__chicos:hover{
        background-color: #a29bfe;
        color: white;
        font-weight: bolder;
        transform-origin:bottom;
    }
}
